
<mtapp:setting
    id="facebook_application_id"
    label="<__trans phrase="Facebook Application ID">"
    hint="<__trans phrase="The Facebook Application ID for the application associated with this MT installation.">"
    show_hint="1">
    <input name="facebook_application_id" id="facebook_application_id" value="<mt:var name="facebook_application_id" escape="html">" size="40" />
</mtapp:setting>
<mtapp:setting
    id="facebook_application_secrt"
    label="<__trans phrase="Facebook Application Secret">"
    hint="<__trans phrase="The application secret for the Facebook application associated with this MT installation.">"
    show_hint="1">
    <input name="facebook_application_secret" id="facebook_application_secret" value="<mt:var name="facebook_application_secret" escape="html">" size="40" />
</mtapp:setting>
